body {
    background-color:  white;
}

.game__container{
    background-color:  white;
    display: grid;
}

.game__board {
    margin: 0 auto;
    background-color: white;
}

.game__controls{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.game__next{
    background-color: bisque;
}


.btn{

}

.btn__play{

}

.btn__restart{

}

.game__overlay{
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
